.backlink_creat_a{
    margin-top: 16px;
}
.text_craet_a{
    margin-top:150px ;
    margin-bottom: 0;

}
.input_creat_a{
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 48px;
}
.CreateANewPassword{
    padding: 0 16px;
}