
.input_container_forgotpassword{
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 48px;
}
.ForgotPassword {
    padding: 0 16px;
}
.NavbarForgot{
    margin-top: 16px;
}
.text{
    margin-top: 300px;
}