.navBar{
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 360px;
    height: 84px;
    background-color: #ffff;
    padding: 0 10px;
}
.BottomNavbar{
    background-color: #EFE9F7;
    height: 100vh;
}


.navlogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #8A2BE2; 
  font-size: 12px;
}

.icon {
    margin-bottom: 12px;
}

.icon_lable{
    color: #827D89;
    font-size: 10px;
    font-weight: 400px;
}

.plusContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(-40px);
}
.plusButton {
  width: 60px;
  height: 60px;
  background-color: #6A3EA1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.icon_pluse{
  display: flex;
  align-items: center;
}