.btn_logout{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin: 48px 24px 32px 24px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(130, 125, 137, 0.6);
  
  display: flex; 
  justify-content: center;
  align-items: center; 
  z-index: 1000;
}

.modalContainer {
  background-color: white;
  padding: 24px;
  border-radius: 16px; 
  text-align: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); 
  width: 280px;
  height: auto;
  position: relative;
  z-index: 1001;
}