.p_edit{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-right: 120px;
}

.navbaredit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #EFEEF0;
    height: 54px;
    margin-top: 16px;
}

.profileImage{
    border-radius: 100px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.changeprofil{
    display: flex;
    flex-direction: column;
    gap:16px;
    /* justify-content: center; */
    align-items: center;
    margin-top: 24px;
    border-bottom: 1px solid #EFEEF0;
    /* margin-bottom: 10px; */
    padding-bottom: 24px;
}

.sectionedit{
    padding: 0 24px;
    /* background-color: red; */
}

.input_link{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.btn_edit{
    margin-top: 102px;
}

.btnText {
    flex-grow: 1; 
    text-align: center; 
}
.btnIcon {

    flex-shrink: 0; 
    margin-right: 5px; 
}

.submitbtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
