
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(130, 125, 137, 0.6);
 
  display: flex; 
  align-items: flex-end;
  z-index: 1000;
}

.modalContainer {
  background-color: white;
  padding: 24px;
  border-radius: 16px 16px 0 0;
  text-align: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); 
  width: 100%; 
  height: 390px;
  position: relative;
  z-index: 1001;
  
}


.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

