.circlesContainer {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  gap: 16px;
  align-items: center; 
  flex-direction: row;
  margin-bottom: 30px;
}

.circle { 

  background-color: #e0e0e0;
  width: 12px; 
  height: 12px; 
  border-radius: 50%;
}

.circle.active {
  background-color: #DEDC52;
}

