.navbar_guid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #EFEEF0;
    height: 54px;
    margin-top: 16px;

}

.section_guid{
    padding: 0 16px;
}
.img_laptop{
    width: 100%;
   height: auto;
    border-radius: 12px;
    object-fit: cover;
}
.text_guid{
    padding-bottom: 10px;
    border-bottom: 1px solid #EFEEF0;

}
.tag_text{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.container_img{
    position: relative;
    /* height: 260px;
    width: 328px; */
    width: 100%;
    height: auto;
    max-width: 328px;
    margin: 0 auto;
}
.IconWrapper{
    position: absolute;
    bottom: -5px;
    right: 0px;
    cursor: pointer;
    padding: 10px;
}

.editableTitle{
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    color: #180E25;
}
.editableContent{
    font-size: 16px; 
    font-weight: 400;
    line-height: 140%;
    color: #827D89;
}

.pReminder{
    margin-top: 24px;
}
