.p_setting{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-right: 120px;
}

.navbarsetting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #EFEEF0;
    height: 54px;
    margin-top: 16px;
}
.profileInfo{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    /* height: 64px; */
    gap: 16px;


}
.profileImage{
    border-radius: 100px;
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.textInfo{
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

.email{
    display: flex;
    align-items: center;
}


.container_setting{
    padding: 0 24px;

}
.text{
   margin-bottom: 0 !important; 
}
.main{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.mahdi {
    border-bottom: 0.1px solid #8230d4;
    margin-top: 12px;

}
.hritem{
    border-bottom:#EFEEF0 1px solid;  
    padding-bottom: 25px;
    margin-top: 24px;
    /* margin: 24px 0 24px 0; */
}
.hritem1{
    border-bottom:#EFEEF0 1px solid;  
    padding-bottom: 25px;
    /* margin: 24px 0 24px 0; */

}
/* .itemsetting{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 8px;
} */

.btn_edit{
    display: flex;
    gap: 8px;
    margin-top: 32px;
    text-decoration: none;
}
 
.btn_edit_link{
    text-decoration: none;
} 

.footersetting{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 179px;

}

.leftContent{
   display: flex;
   align-items: center;
   gap: 12px;
}

