
 .ideaCard {
    width: 156px;
    height: 252px;
    background-color: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card_inner {
    padding: 20px;
    flex-grow: 1;
}

.header_section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.idea_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: #180E25;
    margin: 0;
}

.idea_description {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #827D89;
    margin: 0;
}

.card_footer {
    background-color: #E8E8E8;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 0 12px 12px;
    width: auto;
    height: 48px;
    display: flex;
    align-items: center;
}

.interesting_idea_button {
    background: none;
    border: none;
    color: #827D89;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    cursor: pointer;
    padding: 0;
    transition: color 0.2s ease-in-out;
    margin-left: 12px;
}
