.Link_login {
    font-size: 16px;
    font-weight: 500;
    display: block;
    color: #6A3EA1;
}

.loginPage{
    padding: 0 16px;
}

.Link1_login {
    font-size: 16px;
    font-weight: 500;
    color: #6A3EA1;
    text-decoration: none;
    display: block;
    text-align: center;
}

.Link_countlogin{
    margin-top: 32px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #827D89;
    margin: 6px 7.5px;
}

.divider::after,
.divider::before {
    content: '';
    flex: 1;
    border-bottom: 1px solid #EFEEF0; 
}

.h2_login{
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    color: #180E25;
    margin-top: 101px;
}

.p_login{
    font-size: 16px;
    font-weight: 400px;
    line-height:  140%; 
    color: #827D89;
}

.img_login{
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.input_link{
    margin-top: 32px;
    display: flex; 
    flex-direction: column;
    gap: 32px; 
}

.btn_link_google{
    margin-bottom: 32px;
}


.input_login{
  margin-top: 40px;
}