.p_change{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-right: 94px;
}

.navbarchange{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #EFEEF0;
    height: 54px;
    margin-top: 16px;
}

.curentpass{
    padding: 0 24px;
    border-bottom: 1px solid #EFEEF0;
}
.textChange{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color:#6A3EA1 ;
}
.containerpass{
    display: flex;
    
    flex-direction: column;
    gap: 32px;
}

.submitbtnContainer {

    display: flex;
    

    justify-content: space-between;
    

    align-items: center;

}


.btnText {

    flex-grow: 1; 
    text-align: center; 
    

}


.btnIcon {

    flex-shrink: 0; 
    margin-left: 8px; 

    /* width: 20px; 
    height: 20px; */
}


.currentpass_input{
    margin-top: 24px;
    /* padding-top: 24px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #EFEEF0;
    margin-bottom: 24px;
}
.btn{
    margin-top: 133px;
}
.container_input{
    display: flex;
    flex-direction: column;
    gap: 16px;
}