

.Onboarding1 {
  background-color: #6A3EA1;
  justify-content: center;
  height: 100vh;
  padding: 0 24px;
   
  
}

.btn {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
}

.imageContainer{
  display: flex;
  justify-content: center;
  padding-top: 140px;
}

.p_container{
  color: #ffff;
  /* padding-left: 16px; */
  /* margin-right: 10px; */
  line-height: 140%;
  font-family: 'Inter', sans-serif; 
  font-size: 20px; 
  font-weight: 700; 
}



/* 
.circlesContainer {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  gap: 10px;
  align-items: center; 
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
  
}

.circle { 

  background-color: #e0e0e0;
  width: 12px; 
  height: 12px; 
  border-radius: 50%;


}

.circle.active {
  background-color: #DEDC52;
} */
