
.cardLink {
  text-decoration: none;

}

.card {
  display: flex;
  align-items: center; 
  width: 328px;
  height: 78px;
  border-radius: 8px;
   margin-bottom: 14px;
}


.icon {
  width: 46px;
  height: 46px;
  padding: 12px;
}


.textContainer {
  display: flex;
  flex-direction: column;

  
}

.subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 0%;
}

.texttitle{
    font-size: 16px;
    font-weight: 700;
    line-height: 0%;
    color: #FFFFFF;
}