
.img_count{
    display: flex;
    justify-content: center;
}
.img_finish0notess{
    width: 240px;
    height: 240px;
    margin-top: 153px;
}
.text_finish0notes {
  text-align: center;
}

.img_count_2{
  display: flex;
  justify-content:flex-end; 
  align-items: center; 
  margin-right: 80px;
}

.Finish0Notes{
background-color: #EFE9F7;
    height: 100vh; 
    padding: 0 24px; 
    display: flex;
    flex-direction: column;
}

.pinnedHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.notesContainer{
  padding: 0 16px;
}

.viewAllLink{
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  color: #6A3EA1;
}


.Finish0NotesNav{
  background-color: #6A3EA1;
  height:160px ;
  width: 360px;
  display: flex;
  overflow-y: hidden;
}

.PurpleBanner{
  display:flex ;
  flex-direction: column;
  gap:4px ;
  margin-top: 68px;
  margin-left: 16px;  

}

.PurpleBanner p:first-child {
  color: #FFFFFF;
  padding: 0;
  margin: 0 0 3px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.PurpleBanner p:nth-child(2) {
  color: #EFE9F7;
  padding:0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
}
.SubText {
    color: #EFE9F7;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    display: flex; 
    flex-direction: column;
    gap: 3px;
}


.IllustrationWrapper img{
  width: 160px;
  height: 160px;
  margin-top: 42px;
 }

 .finishedListContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 24px 0px 16px 16px ;
 }

 .FinishedBannerContainer{
  background-color: #EFE9F7;
 }

 
/* .SubText span:nth-child(2){
  margin-top: 3px;
} */